<a href="https://colab.research.google.com/github/aryan4043/RA2211042010003/blob/main/RA2211042010003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [2]:
23+45

68

In [3]:
print("csbs")

csbs

In [4]:
678%2

0

In [5]:
5543%3

2

In [6]:
5444*655

3565820

In [8]:
int ("780")

780

In [9]:
print("9*5")

9*5

In [10]:
float("3.14")

3.14

In [11]:
# If the number is positive, we print an appropriate message

num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

In [13]:
# assign value to site_name variable
site_name = 'programiz.pro'

print(site_name)

# Output: programiz.pro

programiz.pro

In [14]:
site_name = 'programiz.pro'
print(site_name)

# assigning a new value to site_name
site_name = 'apple.com'

print(site_name)

programiz.pro
apple.com

create a list of length 4 and print 3rd element

In [16]:
listl=[45,64,73,39]
print(listl[3])

39

taking two numbers for sum

In [17]:
x = 5
y = 10
print(x + y)

15

adding two numbers with user input

In [19]:
x = input("Type a number: ")
y = input("Type another number: ")

sum = int(x) + int(y)

print("The sum is: ", sum)

Type a number: 5
Type another number: 6
The sum is:  11

creating a multiple line doc string

In [20]:
print("Hello, World!")
print("Hello, World!")

Hello, World!
Hello, World!

take 2 side of rectangle and print numbers

In [24]:
a1=int(input("Enter one side"))
a2=int(input("Enter second side"))
print("Area of rectangle=",a1*a2)

Enter one side54
Enter second side73
Area of rectangle= 3942

substracting two numbers with user point

In [29]:
x= input("type a number: ")
y= input("Type another number: ")
def sub(x,y):
  subs = int(x) - int (y)
  print(subs)
print("the sub is: ",sub(x,y))

type a number: 45
Type another number: 10
35
the sub is:  None

add strings

In [30]:
a = "19"
b = "23"
c = a + b
print(c)

1923

area of the circle

In [31]:
r=7
pi = 3.14
print("the area is ",r * r * pi)

the area is  153.86

circumfrence of the circle

In [32]:
r=7
pi =3.14
print("the circumference is", 2* r* pi)

the circumference is 43.96